@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: var(--bg-color);
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
         font-family: 'Roboto', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --bg-color: #0C0B1E;
    --text-color: #fff;
    --btn-colr: #000;
    --btn-bg-color: #C1EF7B;
    --btn-bg-color-hover: #87C628;
}

div.content__not__found{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: height .75s ease-in-out,max-height .75s ease-in-out;
    transition: height .75s ease-in-out,max-height .75s ease-in-out;
    min-height: calc(var(--vh, 1vh)*100);
    overflow-y: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.title{
    text-align: center;
}

.content__not__found{
    p{
        color: var(--text-color);
        text-align: center;
        padding-top: 20px;
        max-width: 290px;
        margin: 0 auto;
    }
    span{
        color: var(--text-color);
        text-align: center;
        padding-top: 20px;
        max-width: 290px;
        margin: 0 auto;
        a{
            color: #C1EF7B;
        }
    }
    .msg{
        margin: 0 auto;
        margin-top: 20px;
        a{
            color: var(--btn-colr);
            background-color: var(--btn-bg-color);
            text-decoration: none;
            padding: 10px 10px;
            border-radius: 10px;
            transition: all .5s;
            &:hover{
                background-color: var(--btn-bg-color-hover);
            }
        }
    }
}

.info__status {
    grid-template-columns: repeat(1, 250px);
    display: grid;
    grid-gap: 0px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.status__item{
    border-radius: 10px;
    span{
        color: gray;
        font-size: 14px;
    }
    #ip{
        font-size: 12px;
    }
    #useragent{
        font-size: 12px;
    }
}


.grdjx-sksk{
    display: flex;
    align-items: center;
    max-width: 420px;
    margin: 15px auto;
}

.okb{
    margin-top: 5px;
    span{
        border: 1px solid #AAA;
        padding: 10px 10px;
        border-radius: 10px;
        margin-left: 5px;
    }
    p{
        display: inline-block;
        opacity: .5;
        font-size: 16px;
    }
}
